<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266642880391-3p1od9mjbr80ns8krmftlqk3v61su73o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266642880391-3p1od9mjbr80ns8krmftlqk3v61su73o</string>
	<key>API_KEY</key>
	<string>AIzaSyBuv2ynZrOTxUkkK6xZ96IGyP-crdZCt50</string>
	<key>GCM_SENDER_ID</key>
	<string>266642880391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jacobhill.Who-is-It-</string>
	<key>PROJECT_ID</key>
	<string>who-is-it-2efdd</string>
	<key>STORAGE_BUCKET</key>
	<string>who-is-it-2efdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266642880391:ios:71c2fc7328d121724a0522</string>
</dict>
</plist>